body {
  background-color: var(--theme-background);
  font-family: var(--theme-font-family);
  color: var(--theme-color);
  background-color: var(--theme-background);
  font-size: large;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.container {
  height: '100vh';
  display: 'flex';
  flex-grow: 1;
  flex-direction: 'column';
  justify-content: 'center';
  align-items: 'center';
}